footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
    background-color: #000b1a;
}
footer p{
    font-size: 20px;
    color: #8792a3;
}
footer .footer_links{
    display: flex;
    gap: 30px;
}
footer .footer_links a{
    color: #8792a3;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;

}
footer .footer_links a:hover{
    color: white;
    border: 2px solid white;
}
#goToTop{
    padding: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    right: 2%;
    bottom: 2%;
    text-decoration: none;
    color: black;
    font-size: 30px;
}