.destinationPriceSection{
    min-height: 90vh;
    width: 100%;
    background-color: #95a6b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding-bottom: 30px;
}
.destinationPriceSection .priceSectionHeading{
    /* 1rem = 16px => 3.5rem => 56px*/
    font-size: 3.5rem;
    font-style: italic;
    color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}
.destinationPriceSection .priceSection{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
}
.destinationPriceSection .priceSection .priceCard{
    width: 30%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.6rem;
    color: white;
    border-radius: 1.6rem;
    padding: 25px 0px;
    background-color: black;

}
.priceCard img {
    width: 90%;
    height: 250px;
    border-radius: 10px;
}
.priceCard p{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.priceCard h2{
    width: 95%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:gainsboro;
    text-align: center;
    line-height: 25px;
}
.priceCard button{
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px 0;
    width: 70%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.priceCard button:hover{
    background-color:black;
    color: white;
    border: 2px solid white;
    transition: all 0.6s ease ;
}